<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.domain">
      <Domain
            description="Scenario-based Programming in Statecharts" 
            domainID="com.yakindu.domain.scenario"
            image="icons/logo_small.png"
            name="Scenario-based Statecharts">
      </Domain>
   </extension>
      <extension
         point="org.yakindu.sct.domain.modules">
      <Module
            domainID="com.yakindu.domain.scenario"
            feature="org.yakindu.sct.generator"
            moduleProvider="org.yakindu.sct.domain.generic.generator.GeneratorModuleProvider"></Module>
   </extension>
</plugin>
