<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.yakindu.com/sct/domain/scenario/ScenarioText" 
       class = "com.yakindu.sct.domain.scenario.scenarioText.ScenarioTextPackage"
       genModel = "model/generated/ScenarioText.genmodel" /> 
	
  </extension>



</plugin>
